
<div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Chat</h5>
                  <p class="card-text">Chat and learn tech</p>
                  <a routerLink="read-book" routerLink="/chat/one-to-one" class="btn btn-primary d-flex justify-content-center">MyChat</a>
                </div>
              </div>
        </div>
    </div>
</div>