<div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <div *ngIf="showAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong> {{ errorMsg }}.
                <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
              </div>              
              
            <h3 class="card-title text-center">Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="mb-3">
                  <label for="InputUsername" class="form-label">Username</label>
                  <input type="text" class="form-control" id="InputUsername" formControlName="username" 
                  [ngClass]="{
                    'is-valid': loginForm.get('username')?.valid && loginForm.get('username')?.touched,
                    'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched
                  }"
                  >
                  <div id="emailHelp" class="form-text">We'll never share your Username with anyone else.</div>
                  <div class="invalid-feedback" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    <div *ngIf="loginForm.get('username')?.errors?.['required']"> Username is required</div>
                    <div *ngIf="loginForm.get('username')?.errors?.['minlength']">Invalid Length</div>
                  </div>                  
                </div>
                <div class="mb-3">
                  <label for="InputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" id="InputPassword1"
                  [ngClass]="{
                    'is-valid': loginForm.get('password')?.valid && loginForm.get('password')?.touched,
                    'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
                  }"
                  >
                  <div class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 8 characters required</div>
                  </div>                  
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input"
                  formControlName="agreeTerms"
                  [ngClass]="{
                    'is-invalid': loginForm.get('agreeTerms')?.invalid && loginForm.get('agreeTerms')?.touched
                  }"
                   id="Check1">
                  <label class="form-check-label" for="Check1">Check me out</label>
                  <div class="invalid-feedback" *ngIf="loginForm.get('agreeTerms')?.invalid && loginForm.get('agreeTerms')?.touched">
                    You must agree before submitting.
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                    <button type="submit" class="btn btn-primary w-50 " [disabled]="loginForm.invalid">Submit</button>
                </div>
              </form>
              <div class="container py-2">
                <p>
                    Don't have an account? <a routerLink="/register">Register here</a>
                </p>
              </div>
        </div>
    </div>
</div>