
<div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Book Lists</h5>
                  <p class="card-text">Learn somthing new learn something techie.</p>
                  <a routerLink="read-book" routerLink="list-book" class="btn btn-primary d-flex justify-content-center">Book Lists</a>
                </div>
              </div>
        </div>
    </div>
</div>