<h2 class="text-center mb-4">Bulk Product Upload</h2>

<!-- Error Message -->
<div *ngIf="errorFalgMessage" class="alert alert-danger text-center">
    {{ errorFalgMessage }}
  </div>

<a href="assets/excel/product-template.xlsx" download>Download Excel Template</a>

<div class="d-flex justify-content-start mb-3">
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" class="form-control w-auto" />
</div>

<form (ngSubmit)="submit()" *ngIf="formGroups.length > 0">
  <div class="table-responsive">
    <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of formGroups; let i = index" [formGroup]="group">
            <td>
              <input
                formControlName="name"
                [ngClass]="{ 'error': isInvalid('name', group) }"
                placeholder="Product Name"
              />
            </td>
            <td>
              <input
                formControlName="category"
                [ngClass]="{ 'error': isInvalid('category', group) }"
                placeholder="Category"
              />
              <div class="error-text" *ngIf="getControl(group, 'category').errors?.['invalidCategory']">
                  Invalid category
              </div>
            </td>
            <td>
              <input
                formControlName="price"
                type="number"
                [ngClass]="{ 'error': isInvalid('price', group) }"
                placeholder="Price"
              />
            </td>
            <td>
              <button (click)="deleteRow(i)">🗑️ Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>

  <div class="text-end mt-3">
    <button class="me-3" type="button"  (click)="addRow()">➕ Add Row</button>
    <button  (click)="submit()">✅ Submit</button>
  </div>
</form>
